//
// Variables
//
$orange: 	#E66244;
$black:  	#444444;
$gray-dark: #777777;
$gray-mid:  #AAAAAA;

//
// Partials
//
@import 'partials/normalize';

@import 'partials/header';
@import 'partials/footer';
@import 'partials/course-goals';
@import 'partials/meet-colearners';
